

.sidebar {
  width: 250px;
  height: 100vh; 
  background-color: #1ABC9C;

  padding-top: 20px;
  position: fixed;
}

.sidebar h2 {
  margin-left: 20px;
  font-size: 18px;
}

.sidebar ul {
  list-style-type: none;
  /* padding: 0; */
  /* margin-top: 30px; */
}

.sidebar ul li {
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
}

.sidebar ul li:hover {
  background-color: #16A085;
}
