


.cont_2{

    display: inline-block;
    margin-top: 20px;
    /* background-color: black; */
}
 


.second_div li{

    margin-top: 20px;
    padding: 2px;   
    display:  grid;

    grid-template-columns: max-content;
    margin-left: 20px;
    border: 1px solid orange;
}


