



.cont1 {
  @apply bg-[#1F2235] border border-[#1F2235]
}


.cont1 nav li {

  @apply ml-10 inline-block text-gray font-medium   
}


.main-content {
  margin-left: 270px;
  padding: 20px;
  /* display: flex;
  flex-wrap: wrap; */
  gap: 20px;
}

.card {
  background-color: #1F2235;
  border-radius: 10px;
  color: white;
  padding: 20px;
  /* flex: 1 1 calc(33% - 20px); */
  height:  50vh ;
  width:  50vw ;

  /* Flex basis for 3 columns */
  /* min-width: 300px; */
  /* Minimum width to maintain card shape */
  box-sizing: border-box;
}

.card h3 {
  margin: 0;
  font-size: 24px;
}
