

@tailwind base;
@tailwind components;
@tailwind utilities;


.cont1 {
  @apply bg-[#1F2235] 
}

.cont1 nav li {
  @apply ml-10 inline-block text-gray-500 font-medium;
}


.sidebar ul li{
 /* @apply border-b	   */
  @apply border-b	 border-gray-500
}


.Head 

.card {
  background-color: #1f2235;
  border-radius: 10px;
  color: white;
  padding: 20px;
  height: 50vh;
  width: 50vw;
  box-sizing: border-box;
}

.card h3 {
  margin: 0;
  font-size: 24px;
}   

.main-content {
  margin-left: 200px;
  padding: 5px;
  margin-top:10px;
  margin-right:  25px;

  ;
  gap: 20px;
  
}

.main-content .grid_container{
  border: 1px solid rgb(126, 126, 126);
  
}

.grid_container div {
  @apply   bg-gray-700 rounded mr-5 p-1
  
}


/* .status {
  @apply   bg-gray-700 rounded mr-5  p-1   border border-solid border-gray-400
  
} */
/* border border-solid border-gray-700 rounded-lg */





.text_1 {
  text-decoration: none;
}

.text_1:hover {
  text-decoration: underline;
}
