@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --background: #9c88ff;
    --navbar-width: 256px;
    --navbar-width-min: 80px;
    --navbar-dark-primary: #18283b;
    --navbar-dark-secondary: #2c3e50;
    --navbar-light-primary: #f5f6fa;
    --navbar-light-secondary: #8392a5;
  }
  
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #14141F;
  color: white;
}

